body{
    width: 100vw;
    height: 100vh;
    margin: 50px 0;
}
.container{
    width: 300px;
    background-color: #f4f4f4;
    padding: 10px;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 20px;
}

.wrapper{
    text-align: center;
}

.output{
    font-size: 35px;
    font-weight: 900;
    font-family: monospace;
}

.game-pad{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.game-pad .pad{
    width: 100px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pad i{
    font-size: 80px;
}
.fa-hand-rock{
    color:#b29700;
}
.rock{
    background-color:#b29700;
}
.fa-hand-paper{
    color:#ffdbac;
}
.paper{
    background-color: #ffdbac;
}
.fa-hand-scissors{
    color:#ff6700;
}
.scissors{
    background-color: #ff6700;
}
.score-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;
}
.score-wrapper h3{
    font-size: 14px;
    font-weight: 300;
    padding: 5px 10px;
    background-color: gray;
    color: #fff;
}
.score-wrapper div{
    text-align: center;
}
.score-wrapper span{
    font-size: 14px;
    font-weight: bold;
}
.btn{ 
    width: 110px;
    height: 110px;
    margin-top: 10px;
    cursor: pointer;
    transition: 300ms;
    outline: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: 1px;
}

.btn-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

button:hover{
    opacity: .8;
    
}

.size{
    width: 100%;
    height: 30px;
    background-color: black;
}